* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body{
    width: 100%;
    height: auto;
    background-color: #423e3e;
    padding: 2px 400px 30px 400px;
}

h1{
    font-size: 30px;
    color: beige;
    padding: 20px 0;
    text-align: center;
}

h2{
    font-size: 25px;
}

ul{
    list-style-type: none;
}

.aside-portion p{
    font-size: 15px;
}

.container{
    width: 700px;
    height: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8b25c;
}

aside{
    height: 895px;
    text-align: justify;
}

.aside-portion h2{
    padding: 35px 0 15px 0;
}

.img{
    width: 100%;
    padding: 0px 20px;
}

.aside-portion img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.aside-portion li{
    padding: 15px 0;
    font-size: 15px;
}

.aside-portion i{
    font-size: 35px;
}

.top-area h2{
    width: 100%;
    height: 235px;
    background-color: #f7ca93;
    font-size: 65px;
    color: #8b0000;
    padding-top: 80px;
}

h2{
    font-size: 25px;
    color: #8b0000;
    text-shadow: -2px 0 2px black;
}

.content p{
    font-size: 15px;
    padding-top: 10px;
    color: black;
}

.content h2{
    padding-top: 15px;
}

.top-area{
        margin-bottom: 25px;
    }

/* Media queries for responsiveness */

/* Tablet devices (max-width: 900px) */
@media (max-width: 900px)  {
    .body{
        height: auto;
        padding: 30px;
    }

    .container {
        width: 100%;
        height: auto;
        padding: 15px;
        margin-left: 1px;
    }

    .top-area{
        margin-bottom: 40px;
    }

    .top-area h2{
        width: 100%;
        height: 190px;
        font-size: 50px;
        padding-top: 60px;
    }

    .img{
        padding: 0px 27px;
    }

    .aside-portion img {
        width: 190px;
        height: 190px;
    }

    h1 {
        font-size: 24px;
    }


    h2 {
        font-size: 20px;
        text-shadow: -1px 0 1px black;
    }

    aside{
        width: 30%;
        height: 755px;
    }

    .aside-portion p {
        font-size: 13px;
    }

    .aside-portion li {
        padding: 8px 0;
        font-size: 10px;
    }

    .aside-portion i {
        font-size: 20px;
    }

    .content p {
        font-size: 13px;
        text-shadow: 0px 0px 0px black;
        color: black;
        padding-top: 7px;
    }
}

/* Mobile devices (max-width: 600px) */
@media (max-width: 600px) {
    .body{
        height: auto;
        padding: 7px;
    }

    .container {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .img{
        padding: 0px 2px;
    }

    .aside-portion img {
        width: 95px;
        height: 95px;
    }

    aside{
        width: 30%;
        height: 535px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 13px;
        text-shadow: -1px 0 1px black;
    }

    .aside-portion p {
        font-size: 9px;
    }

    .aside-portion li {
        padding: 8px 0;
        font-size: 6px;
    }

    .aside-portion i {
        font-size: 20px;
    }

    .top-area h2 {
        width: 100%;
        height: 120px;
        font-size: 25px;
        padding-top: 45px;
    }

    .top-area{
        margin-bottom: 11px;
    }

    .content p {
        font-size: 8px;
        text-shadow: 0px 0px 0px black;
        color: black;
        padding-top: 7px;
    }
}
